# Text file with conda dependencies
# to install manually you can do `conda install -f docs/conda_requirements.txt -c conda-forge`
# nox doesn't support environment.yml files :(
sphinx>=7.0
myst-parser>=0.13
nbsphinx
ipykernel
pandoc
sphinx-copybutton
sphinx-autodoc-typehints
furo
sphinx-autobuild
